body {
	background: #CCCCCC;
}

body img {
	width: 100%;
}

body h1 {
	text-align: center;
}

body p {
	text-align: center;
}

body strong {
	font-size: 18px;
}

body .missao {
	font-size: 18px;
}

body em strong {
	color: red;
}