.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center;
}

.principal {
	background: #CCCCCC;
	padding: 30px;
}

.imagem-banner {
	width: 100%;
}

p {
	text-align: center;
}

strong {
	font-size: 18px;
}

.missao {
	font-size: 18px;
}

em strong {
	color: red;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

.beneficios ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}
.beneficios .itens {
	font-style: italic;
}

.beneficios .imagem-beneficios {
	width: 50%;
}