header {
	background: #CCC;
	padding: 20px 0;
}

header .box {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

header nav {
	position: absolute;
	top: 110px;
	right: 0;
}

header nav li{
	display: inline;
	margin-left: 20px;
}

header nav li a:hover {
	color: #E98719;
	text-decoration: underline;
	font-size: 24px;
}

header nav a {
	font-size: 22px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

main .produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

main .produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000;
	border-radius: 10px;
}

main .produtos li:hover {
	border-color: #E98719;

}

main .produtos li:active {
	border-color: #088C19;
}

main .produtos .title {
	font-size: 28px;
	font-weight: bold;
}

main .produtos li:hover h2 {
	font-size: 32px; 
}

main .produto-descricao {
	font-size: 18px;
}

main .produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	background-image: url(imagens/bg.jpg);
	text-align: center;
	padding: 30px 0;
}

footer .copyright {
	color: #FFF;
	font-style: italic;
	margin: 20px 0 0;
}




